@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Fraunces:wght@700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  max-width: 1440px;
  height: 750px;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  font-family: "Fraunces", sans-serif;
  color: #fff;
  position: relative;
}

header h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 60px;
}

#brand-id {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  letter-spacing: 0.04rem;
}
.down-arrow {
  position: absolute;
  top: 43%;
  left: 50%;
  display: block;
}
