@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Fraunces:wght@700;900&display=swap");

:root {
  --max-width: 1440px;
  --white: #fff;
  --very-dark: hsl(212, 27%, 19%);
  --gray: hsl(232, 10%, 55%);
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --photo-text: hsl(198, 62%, 26%);
  --footer-text: #2c7566;
  --footer-bg: #78d1c3;
  --graphic-design-text: hsl(167, 40%, 24%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Barlow";
  line-height: 1.4;
  font-weight: 500;
  color: var(--very-dark);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}
h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  font-weight: 800;
}

button {
  font-family: "Fraunces";
  text-transform: uppercase;
  font-size: 14px;
}

.gray {
  color: var(--gray);
}

*.cta {
  margin-top: 2rem;
  border: none;
  background-color: var(--white);
  position: relative;
}
.cta:after {
  content: "";
  width: 120%;
  height: 12px;
  position: absolute;
  bottom: -2px;
  left: -9px;
  border-radius: 20%;
  opacity: 0.3;
}

.cta.yellow:after {
  background: var(--yellow);
}
.cta.red:after {
  background: var(--red);
}

header {
  height: 770px;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  font-family: "Fraunces", sans-serif;
  color: var(--white);
  position: relative;
  margin: 0 auto;
}

header .header-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 100px;
}

#brand-id {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  letter-spacing: 0.04rem;
  font-size: 1.6rem;
}
header nav {
  display: flex;
  justify-content: space-between;
}

ul.main-nav {
  display: flex;
  justify-self: end;
  align-items: center;
}
ul.main-nav li {
  margin-right: 1rem;
  font-family: "Barlow";
  font-weight: 600;
}
ul.main-nav li a {
  color: var(--white);
}

ul.main-nav li.nav-item.contact button {
  background-color: var(--white);
  color: var(--very-dark);
  border-radius: 30px;
  border: none;
  padding: 0.8rem 1.5rem;
}
.down-arrow {
  position: absolute;
  top: 43%;
  left: 50%;
  display: block;
}

section.main-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 700px);
}

section.main-boxes .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

section.main-boxes .text-box .text-container {
  width: 480px;
}

.box-2.image-box-lg {
  background: url("./images/desktop/image-transform.jpg") center center/cover;
  width: 100%;
}

.box-3.image-box-lg {
  background: url("./images/desktop/image-stand-out.jpg") center center/cover;
  width: 100%;
}

.box-5 {
  background: url("/images/desktop/image-graphic-design.jpg") top center/cover;
  width: 100%;
  color: var(--graphic-design-text);
}

.box-6 {
  background: url("/images/desktop/image-photography.jpg") top center/cover;
  width: 100%;
  color: var(--photo-text);
}

.image-text-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: var(--photo-text);
}

.image-text-box .text-container {
  width: 360px;
  text-align: center;
  padding-bottom: 4rem;
}

.image-text-box .text-container p {
  font-size: 16px;
  margin-top: 1rem;
}

/* Testimonials */
#testimonials {
  padding: 4rem 0;
}
.testimonials-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

#testimonials h4 {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
}
.client .client-text {
  text-align: center;
}

.client .client-image img {
  border-radius: 50%;
  margin: 2rem auto;
  width: 100px;
}

.client h6.client-name {
  margin: 3rem 0 0.2rem 0;
  font-size: 18px;
  font-weight: bolder;
}

.client p.client-title {
  color: var(--gray);
  font-size: 16px;
}

.btm-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 500px;
}

.image-box-sm {
  width: 100%;
}

.btm-images .box-8 {
  background: url("./images/desktop/image-gallery-milkbottles.jpg") no-repeat
    center center/cover;
}

.btm-images .box-9 {
  background: url("/images/desktop/image-gallery-orange.jpg") no-repeat center
    center/cover;
}
.btm-images .box-10 {
  background: url("/images/desktop/image-gallery-cone.jpg") no-repeat center
    center/cover;
}
.btm-images .box-11 {
  background: url("/images/desktop/image-gallery-sugarcubes.jpg") no-repeat
    center center/cover;
}

footer {
  width: 100%;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

footer a:hover {
  color: white;
}

.footer-text {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.footer-text > img {
  width: max-content;
  margin: 0 auto;
}
.footer-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0;
}

.social-links {
  padding: 0 2rem;
}
.social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow-x: hidden;
  }
  main .main-boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 400px);
  }
  .main-boxes > * {
    width: 100%;
    height: 80vh;
  }
  .main-boxes .text-box {
    text-align: center;
  }
  section.main-boxes .text-box .text-container {
    width: 80%;
  }

  .main-boxes .text-box h2 {
    margin-bottom: 1em;
  }

  .box-2.image-box-lg {
    order: 1;
  }

  .box-1.text-box {
    order: 2;
  }

  .box-3.image-box-lg {
    order: 3;
  }

  .box-4.text-box {
    order: 4;
  }

  .box-5.image-text-box {
    order: 5;
  }

  .box-6.image-text-box {
    order: 6;
  }

  #testimonials .testimonials-container {
    flex-direction: column;
  }

  .client {
    padding: 3rem 2rem 0 2rem;
  }
  .client h6.client-name {
    margin: 1.2rem 0 0.2rem 0;
  }

  section.btm-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
