@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Fraunces:wght@700;900&display=swap");

:root {
  --max-width: 1440px;
  --white: #fff;
  --very-dark: hsl(212, 27%, 19%);
  --gray: hsl(232, 10%, 55%);
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --photo-text: hsl(198, 62%, 26%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Barlow";
  line-height: 1.4;
  font-weight: 500;
  color: var(--very-dark);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}
h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-size: 30px;
  font-weight: 800;
}

button {
  font-family: "Fraunces";
  text-transform: uppercase;
  font-size: 14px;
}

.gray {
  color: var(--gray);
}

*.cta {
  margin-top: 2rem;
  border: none;
  background-color: var(--white);
}

header {
  height: 750px;
  background-image: url("./images/desktop/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  font-family: "Fraunces", sans-serif;
  color: var(--white);
  position: relative;
  margin: 0 auto;
}

header .header-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 3rem;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 100px;
}

#brand-id {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  letter-spacing: 0.04rem;
  font-size: 1.6rem;
}
header nav {
  display: flex;
  justify-content: space-between;
}

ul.main-nav {
  display: flex;
  justify-self: end;
  align-items: center;
}
ul.main-nav li {
  margin-right: 1rem;
  font-family: "Barlow";
  font-weight: 600;
}
ul.main-nav li a {
  color: var(--white);
}

ul.main-nav li.nav-item.contact button {
  background-color: var(--white);
  color: var(--very-dark);
  border-radius: 30px;
  border: none;
  padding: 0.8rem 1.5rem;
}
.down-arrow {
  position: absolute;
  top: 43%;
  left: 50%;
  display: block;
}

section.main-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 700px);
}

section.main-boxes .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

section.main-boxes .text-box .text-container {
  width: 480px;
}

.box-2.image-box-lg {
  background: url("./images/desktop/image-transform.jpg") center center/cover;
  width: 100%;
}

.box-3.image-box-lg {
  background: url("./images/desktop/image-stand-out.jpg") center center/cover;
  width: 100%;
}

.box-5 {
  background: url("/images/desktop/image-graphic-design.jpg") top center/cover;
  width: 100%;
}

.box-6 {
  background: url("/images/desktop/image-photography.jpg") top center/cover;
  width: 100%;
}

.image-text-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: var(--photo-text);
}

.image-text-box .text-container {
  width: 360px;
  text-align: center;
  padding-bottom: 4rem;
}

.image-text-box .text-container p {
  font-size: 16px;
  margin-top: 1rem;
}

/* Testimonials */

.testimonials-container {
  display: flex;
}
